<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="org.nqmgaming.aneko" />
    </queries>

    <application
        android:name=".SkinApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NikoOneshot"
        tools:targetApi="31">
        <activity
            android:name=".SkinActivity"
            android:exported="true"
            android:theme="@style/Theme.NikoOneshot">
            <!-- launch from "open" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>

            <!-- to list skin -->
            <intent-filter>
                <action android:name="org.tamanegi.aneko.action.GET_SKIN" />
            </intent-filter>

            <!-- skin data -->
            <meta-data
                android:name="org.tamanegi.aneko.skin"
                android:resource="@xml/skin" />

        </activity>
    </application>

</manifest>